@charset "UTF-8";

body {
    background-color: aquamarine;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
h1 {
    background-color: blueviolet;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
}
h2 {
    background-color: burlywood;
}
p {
    font-style: italic;
}